<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- jQuery library -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"
    ></script>

    <!-- Popper JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    ></script>

    <!-- Latest compiled JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    ></script>
    <title>Weather App</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="/images/cloudy.png">
  </head>
  <body>

    <!-- Main menu  -->

    <div class="container-fluid main_menu">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><i
                class="far fa-snowflake"
                aria-hidden="true"
              ></i>
              Weather
              <i class="far fa-snowflake" aria-hidden="true"></i></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/weather">Weather</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Me</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <!-- Main header  -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="main_content">
            <form class="temp_form">
              <input
                type="text"
                id="cityName"
                placeholder="Enter your City Name"
                autocomplete="off"
              />
              <input type="submit" value="Search" id="submitBtn" />
            </form>
          </div>
          <div class="weatherInfo">
            <div class="topLayer">
              <p id="currentDay">Tuesday</p>
              <p id="currentDate">28 Jun</p>
            </div>
            <div class="mainLayer">
              <p id="city_name"></p>
              <div class="middleLayer data_hide">
                <p id="temperature"><span id = "temp_real_val">29</span><sup>o</sup>C</p>
                <p id="tempStatus"><i
                    class="fa fa-cloud"
                    aria-hidden="true"
                  ></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer  -->

    <footer>
      <p>Created with ❤️ By Karan</p>
    </footer>
    <script src="index.js"></script>

    
    <script>
      const getCurrentDay = () => { 
        let weekDay = new Array(7);
        weekDay[0] = "SUNDAY";
        weekDay[1] = "MONDAY"; 
        weekDay[2] = "TUESDAY"; 
        weekDay[3] = "WEDNESDAY";
        weekDay[4] = "THURSDAY"; 
        weekDay[5] = "FRIDAY"; 
        weekDay[6] = "SATURDAY";
        let currentTime = new Date(); 
        day = weekDay[currentTime.getDay()]; 
        let currentDay = document.getElementById('currentDay'); 
        currentDay.innerText = day; 
        }; 
        getCurrentDay();

        const getCurrentTime = () => {
        var months = [
          "JANUARY",
          "FEBRUARY",
          "MARCH",
          "APRIL",
          "MAY",
          "JUNE",
          "JULY",
          "AUGUST",
          "SEPTEMBER",
          "OCTOBER",
          "NOVEMBER",
          "DECEMBER",
        ];
        var current = new Date();
        var month = months[current.getMonth()];
        var date = current.getDate();
        let hours = current.getHours();
        let minutes = current.getMinutes();
        let periods = "AM";
        if (hours > 11) {
          periods = "PM";
          if (hours > 12) {
            hours -= 12;
          }
        }
        if (minutes < 10) {
          minutes = "0" + minutes;
        }

        return `${month} ${date} | ${hours}:${minutes}${periods}`;
      };

      currentDate.innerHTML =  getCurrentTime();

    </script>


  </body>
</html>